<div class="container p-4 ">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre del deporte</th>
                <th scope="col">Estado</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        {{#each deportes}}
        <tr>
            <td>{{nombre}} </td>
            <td>{{estado}}</td>
            <td><a href="/editDeporte/{{deporte_id}}" class="btn btn-secondary">Editar</a></td>
            <td><a href="/deleteDeporte/{{deporte_id}}" class="btn btn-danger">Eliminar</a></td>
        </tr>
        {{else}}
        <div class="row md-4 mx-auto">
            <div class="text-center">
                <p style="font-size: 2em;">No tienes ningún deporte agregado.</p>
            </div>
        </div>
        {{/each}}
    </table>
    <div class="row">
        <div class="col-md-4 mx-auto p-4">
            <div class="text-center">
                <a href="/addDeporte" class="btn btn-success btn-block">¡Agrega un deporte!</a>
            </div>
        </div>
    </div>
</div>